<!-- bind da pripriedade 'items: Array<BreadCrumbItem>' de 'BreadCrumbComponent' -->
<app-bread-crumb
  [items]="[{text: 'Categorias', link: '/categories'}, {text: pageTitle}]"
></app-bread-crumb>

<!-- foi necessário usar property bind em '[page-title]' porque ele recebe uma variável 'pageTitle'
     já os outros (ex:'button-text', 'button-link' e etc) não pois recebem strings -->
<app-page-header
  [page-title]="pageTitle"
  button-text="<< Voltar"
  button-link="/categories"
  button-class="btn-light"
></app-page-header>

<form [formGroup]="resourceForm" (submit)="submitForm()"><!-- a dependência ReactiveFormsModule necessita de um formGroup -->

  <div class="card">
    <div class="card-header">
      Informações sobre a categoria
    </div>

    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="name">Nome</label>
          <input type="text" class="form-control" id="name" formControlName="name">

          <div  class="text-danger" *ngIf="resourceForm.get('name').invalid && resourceForm.get('name').touched">
            <div *ngIf="resourceForm.get('name').errors.required">campo obrigatório</div>
            <div *ngIf="resourceForm.get('name').errors.minlength">deve ter no mínimo 2 caracteres</div>
          </div>
        </div>

        <div class="form-group col-md-8">
          <label for="description">Descrição</label>
          <input type="text" class="form-control" id="description" formControlName="description">
        </div>

      </div>
    </div>
  </div>
  <div class="alert alert-danger mt-4" *ngIf="serverErrorMessages">
    <b>Erro no servidor:</b>
    <ul>
      <li *ngFor="let error of serverErrorMessages">{{ error }}</li>
    </ul>
  </div>
  <!-- o botão será disabled quando 'submittingForm == true' ou 'resourceForm.invalid == true, ou seja campos do form vazios' -->
  <button [disabled]="submittingForm || resourceForm.invalid" type="submit" class="btn btn-primary btn-lg float-right mt-3">Salvar</button>

</form>
